<!-- extend base layout -->
{% extends "theme/goodold/base.html" %}

{% block content %}
<script src="https://cdn.bootcss.com/showdown/1.3.0/showdown.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/marked/1.2.7/marked.min.js"></script>

<div class="blog">
    {% for post in posts %}
  <div class="conteudo">
    <div class="post-info">
      Posted by {{ post.author }}
      <br>
       {{ post.time }}
    </div>
    <img src="https://th.bing.com/th/id/Rb572cf0dcff93fe13b71af8ab43fd454?rik=g5YdMgIO9siDaA&riu=http%3a%2f%2fimg.ewebweb.com%2fuploads%2f20191006%2f20%2f1570365161-shmEFlWfHU.jpg&ehk=u5A16U5IZ7u6Wi3KtC7OBarR5lf1nOd8UfJP0USvLXg%3d&risl=&pid=ImgRaw">
    <h1><a href="/post/{{ post.title }}">{{ post.title }} </a></h1>
    <hr>
    <p class= "markdown">
      {{ post.content}}
    </p>
    <a href="/post/{{ post.title }}" class="continue-lendo">Read more →</a>
  </div>

    <script>
        $('.markdown').html(marked($('.markdown').html()));
    </script>
      {% endfor %}
</div>



{% endblock %}