{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="custom-box" style="border-left-color: #6610f2;">
        <h1>{{ post.title }}</h1>
        <div style="font-size: 1.1rem; margin-bottom: 2rem;">
            {{ post.content }}
        </div>
        
        <a href="/blog" class="btn" style="background: #6c757d;">&larr; Back to Blog</a>
    </div>
    
    <div style="margin-top: 2rem;">
        {{ extra_content | safe }}
    </div>
{% endblock %}
